<div class="h-6 bg-[#d5e8ef]"></div>

<header class="shadow-md bg-[#b6d4ee]">
  <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between">

    <!-- LEFT -->
    <div class="flex items-center gap-3">
      <a routerLink="/" class="text-white font-semibold leading-tight">
        <div class="text-lg sm:text-xl lg:text-3xl">
          MY COPYRIGHT ALLY
        </div>
      </a>
    </div>

    <!-- RIGHT (DESKTOP) -->
    <div class="hidden sm:flex items-center gap-4">

      <!-- NOT LOGGED -->
      <ng-container *ngIf="!(auth.isLoggedIn$ | async)">
        <a routerLink="/register"
           class="px-4 py-2 rounded-full bg-[#6F93AD] text-white text-sm font-medium hover:bg-[#5d819c] transition">
          Sign up
        </a>

        <a routerLink="/login"
           class="px-4 py-2 rounded-full bg-[#3F5F78] text-white text-sm font-medium flex items-center gap-2 hover:bg-[#324e64] transition">
          
          <svg xmlns="http://www.w3.org/2000/svg"
               class="w-4 h-4"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor"
               stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 11c1.657 0 3-1.343 3-3V7a3 3 0 10-6 0v1c0 1.657 1.343 3 3 3z"/>
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5 11h14v10H5z"/>
          </svg>

          Log in
        </a>
      </ng-container>

      <!-- LOGGED -->
      <ng-container *ngIf="auth.isLoggedIn$ | async">
        <div class="text-[#3F5F78] font-semibold">
          {{ user?.firstName }} {{ user?.lastName }}
        </div>

    
      </ng-container>

    </div>

    <!-- MOBILE -->
    <div class="sm:hidden flex items-center gap-2">

      <!-- NOT LOGGED -->
      <ng-container *ngIf="!(auth.isLoggedIn$ | async)">
        <a routerLink="/register"
           class="px-3 py-1 rounded-full bg-[#6F93AD] text-white text-xs font-medium">
          Sign up
        </a>

        <a routerLink="/login"
           class="px-3 py-1 rounded-full bg-[#3F5F78] text-white text-xs font-medium">
          Login
        </a>
      </ng-container>

      <!-- LOGGED -->
      <ng-container *ngIf="auth.isLoggedIn$ | async">
        <span class="text-[#3F5F78] text-sm font-semibold">
          {{ user?.firstName }}
        </span>

      
      </ng-container>

    </div>

  </div>
</header>