<div class="bg-[#cfe6ef] min-h-screen">

  <!-- TITLE -->
  <div class="bg-[#466d94] text-white px-6 py-3 flex justify-between mx-1">
        <h2 class="text-red-500 font-semibold text-lg">Buy Token</h2>
        <div class="text-lg font-semibold">
            {{tokens}} Remaining Tokens - Next subscription billing on {{billingDate | date:'dd MMM yyyy'}}</div>
    </div>

  <!-- WRAPPER -->
  <div class="max-w-5xl mx-auto px-4 py-10">

    <!-- ACTIVE -->
    <div *ngIf="subscriptionActive; else noSub">

      <!-- SELECT -->
      <div class="mb-8">
        <label class="block text-[#3f5f78] font-semibold mb-2">
          Number of Tokens that you want to buy (5–100)
        </label>

        <select
          [(ngModel)]="quantity"
          (change)="changeQty()"
          class="border px-3 py-2 bg-white rounded w-44 shadow-sm">
          <option *ngFor="let q of quantities" [value]="q">
            {{q}}
          </option>
        </select>
      </div>

      <!-- STRIPE CARD -->
      <div class="border border-black rounded-xl p-8 bg-white shadow-lg">

        <div class="text-xl font-semibold mb-8 text-center">
          Payment Summary & Checkout
        </div>

        <!-- SUMMARY -->
        <div class="max-w-md mx-auto mb-8 space-y-3 text-sm">

          <div class="flex justify-between">
            <span>Tokens</span>
            <span>{{quantity}}</span>
          </div>

          <div class="flex justify-between">
            <span>Price per token</span>
            <span>$1</span>
          </div>

          <div class="flex justify-between font-bold border-t pt-3 text-base">
            <span>Total</span>
            <span>${{quantity}}</span>
          </div>

        </div>

        <!-- STRIPE -->
        <div id="checkout" class="min-h-[620px]"></div>

      </div>

   

    </div>

    <!-- NO SUB -->
    <ng-template #noSub>
      <div class="max-w-lg mx-auto bg-white p-10 rounded-xl shadow-lg text-center mt-10">

        <p class="font-semibold text-lg mb-4">
          Subscription Required
        </p>

        <p class="text-sm text-gray-600 mb-6">
          Activate your subscription first to receive 5 complimentary tokens and unlock token purchases.
        </p>

        <a
          routerLink="/pricing"
          class="inline-block bg-[#466e92] text-white px-6 py-2 rounded shadow cursor-pointer">
          Subscribe Now
        </a>

      </div>
    </ng-template>

  </div>
</div>