<div class="bg-[#cfe6ef] min-h-screen">

  <div class="bg-[#466e92] text-white px-6 py-3 text-lg font-semibold mx-1">
    Log In
  </div>

  <div class="flex justify-center mt-24">

    <form [formGroup]="loginForm" (ngSubmit)="submit()"
          class="w-[540px] bg-[#cfe6ef] border border-[#466d94] rounded-xl shadow-lg p-8">

      <!-- EMAIL -->
      <div class="fieldRow mb-5">
        <label class="label">
          Email <span class="star">*</span>
        </label>
        <input class="input w-full" formControlName="email" autocomplete="off" />
      </div>

      <!-- PASSWORD -->
      <div class="fieldRow mb-8">

        <label class="label">
          Password <span class="star">*</span>
        </label>

        <div class="relative flex-1">

          <input
            [type]="showPassword ? 'text':'password'"
            class="input pr-12 w-full"
            formControlName="password" autocomplete="off"
          />

          <button
            type="button"
            class="absolute right-3 top-2"
            (click)="togglePassword()">

            <svg xmlns="http://www.w3.org/2000/svg"
                 class="w-5 h-5 text-gray-600"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0"/>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5
                       c4.477 0 8.268 2.943 9.542 7
                       -1.274 4.057-5.065 7-9.542 7
                       -4.477 0-8.268-2.943-9.542-7z"/>
            </svg>

          </button>

        </div>
      </div>

      <!-- BUTTON -->
      <div class="flex justify-end">
        <button
          type="submit"
          [disabled]="loading"
          class="bg-[#4a7bd8] hover:bg-[#3c6bcc] text-white px-12 py-3 rounded-lg font-semibold">
          {{ loading ? 'Logging...' : 'Login' }}
        </button>
      </div>

    </form>

  </div>
</div>