@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.4s ease-out;
}
.bg-image {
 
  /* optional: add a subtle overlay */
  height: 85vh; /* full viewport height */
  width: 450px;
  position: relative;
}
.bg-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5); /* dark overlay */
  border-radius: inherit; /* keeps rounded corners */
  z-index: -1;
}

.loader-spinner {
  position: absolute;
  width: 100%;
  max-width: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: spinLoader 600ms steps(12, end) infinite;
}


@keyframes spinLoader {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(360deg); }
}
