<div class="bg-[#d5e8ef] min-h-screen">

  <!-- TITLE BAR -->
  <div class="bg-[#466e92] text-white px-6 py-3 font-semibold">
    Highlights
  </div>
  <!-- CONTENT -->
  <div class="max-w-6xl mx-auto py-10 space-y-16">

    <div *ngFor="let item of items"
         class="grid grid-cols-1 lg:grid-cols-4 items-center gap-8">

      <!-- LEFT IMAGE -->
      <img [src]="'' + item.leftImg"
           class="w-40"/>

      <!-- TEXT -->
      <p class="lg:col-span-2 text-[#466d94] text-sm">
        {{item.text}}
      </p>

      <!-- RIGHT IMAGE -->
      <img [src]="'' + item.rightImg"
           class="w-40"/>

    </div>

  </div>

</div>