<div class="min-h-screen bg-gray-50 flex items-center justify-center px-4 ">
  <div class="w-full max-w-lg sm:max-w-3xl bg-[#cfe6ef] border text-[#3f85ae]  border-gray-200 shadow-md rounded-xl p-4 sm:p-8">

    <!-- Heading -->
    <div class="mb-5 sm:mb-6">
     
      <p class="text-md   mt-1">
      Please upload your original file, its certificate and the corresponding .ots file, and we will verify its registration.
      </p>
    </div>

    <!-- Upload Fields -->
  <div class="space-y-5 sm:space-y-6 text-md ">

 <!-- Original File -->
<div class="flex flex-col sm:flex-row sm:items-center gap-5">
  <label class="font-medium  w-full sm:w-[20%] text-right ">File to verify:</label>
  <button type="button"
          class="bg-[#507897] text-white uppercase font-medium w-full sm:w-32 px-2 py-2 rounded-md cursor-pointer"
          (click)="fileInput.click()">Choose File</button>
  <input type="text" [value]="fileName" readonly
         class="block w-full sm:flex-1 border border-gray-300 rounded-md px-3 py-2 bg-white text-sm" />
  <input type="file" #fileInput (change)="onFileChange($event, 'file')" hidden />
</div>

<!-- Certificate -->
<div class="flex flex-col sm:flex-row sm:items-center gap-5">
  <label class="font-medium  w-full sm:w-[20%] text-right ">Certificate:</label>
  <button type="button"
          class="bg-[#507897] text-white uppercase font-medium w-full sm:w-32 px-2 py-2 rounded-md cursor-pointer"
          (click)="certInput.click()">Choose File</button>
  <input type="text" [value]="certificateName" readonly
         class="block w-full sm:flex-1 border border-gray-300 rounded-md px-3 py-2 bg-white text-sm" />
  <input type="file" #certInput accept=".pdf" (change)="onFileChange($event, 'certificate')" hidden />
</div>

<!-- .ots File -->
<div class="flex flex-col sm:flex-row sm:items-center gap-5">
  <label class="font-medium  w-full sm:w-[20%] text-right ">.ots File:</label>
  <button type="button"
          class="bg-[#507897] text-white uppercase font-medium w-full sm:w-32 px-2 py-2 rounded-md cursor-pointer"
          (click)="otsInput.click()">Choose File</button>
  <input type="text" [value]="otsFileName" readonly
         class="block w-full sm:flex-1 border border-gray-300 rounded-md px-3 py-2 bg-white text-sm" />
  <input type="file" #otsInput accept=".ots" (change)="onFileChange($event, 'otsFile')" hidden />
</div>

 

 

      <!-- Verify Button -->
      <div class="flex justify-center sm:justify-start sm:ml-40 ml-6">
        <button (click)="verify()" [disabled]="isVerifying"
          class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-md text-sm sm:text-base font-medium flex items-center justify-center gap-2 w-full sm:w-auto">
          Verify Work
        </button>
      </div>
        <!-- Error Message -->
      <div *ngIf="errorMessage"
        class="bg-red-50 border border-red-300 text-red-700 px-4 py-2 rounded flex items-center gap-2 text-sm">
        <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
      </div>

      <!-- Success Message -->
      <div *ngIf="successMessage"
        class="bg-blue-50 border border-[#3f85ae]  text-[#3f85ae] px-4 py-2 rounded-md flex flex-col  gap-2 text-sm">
      <p>  <i class="fas fa-check-circle"> </i> {{ successMessage }}</p>
           <p class="text-sm text-gray-600 mt-1">
      Bitcoin Block <span class="text-blue-400">{{ blocks[0].block }}</span>
      Attests existence as of 
      <span class="font-medium">{{ backendResponse.otsStatus.calendars }}</span>
    </p>
      </div>
</div>

  </div>
</div>

<!-- Success Result Overlay -->



<!-- Error Overlay -->
<div *ngIf="errorMessage" class="fixed inset-0 bg-black/50 flex justify-center items-center z-50 px-4 overflow-auto">
  <div class="bg-red-50 border border-red-300 text-red-700 p-6 rounded-lg shadow-lg max-w-full sm:max-w-3xl w-full">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-4 gap-5">
      <div class="flex items-center gap-2">
        <i class="fas fa-exclamation-circle text-red-600 text-xl"></i>
        <span class="font-semibold text-lg">Pay Attention</span>
      </div>
      <button (click)="errorMessage=null"
        class="text-white bg-red-600 hover:bg-red-700 rounded-full px-3 py-1 text-lg">&times;</button>
    </div>
    <p>{{ errorMessage }}</p>
  </div>
</div>
<div *ngIf="isVerifying"
     class="fixed inset-0 bg-black/40 flex justify-center items-center z-50">
  <img class="loader-spinner"
       src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loader-spinner.png" />
</div>
